<!DOCTYPE html>
<html>

<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Let browser know website is optimized for mobile-->
    <link rel="stylesheet" href="/style/home.css">
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travelville</title>
</head>

<body id="Home">
    <div class="navbar-fixed">
        <nav class="teal">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#" class="left brand-logo">Travelville</a>
                    <ul class="right hide-on-add-down">
                        <li>
                            <a href="#Home">Home</a>
                        </li>
                        <li>
                            <a href="Login">Login</a>
                        </li>>
                        <li>
                            <a href="#popular">PopularPlace</a>
                        </li>
                        <li>
                            <a href="#gallery">Gallery</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    
    <div class="slider">
        <ul class="slides">
            <li>
                <img src="/images/home/1.jpg"> <!-- random image -->
                <div class="caption center-align">
                    <h3>Take your Dream Vaction</h3>
                    <h5 class="light grey-text text-lighten-3">France</h5>
                </div>
            </li>
            <li>
                <img src="/images/home/2.jpg"> <!-- random image -->
                <div class="caption right-align">
                    <h3>Believe in the power of travel</h3>
                    <h5 class="light grey-text text-lighten-3">Italy</h5>
                </div>
            </li>
            <li>
                <img src="/images/home/3.jpg"> <!-- random image -->
                <div class="caption left-align">
                    <h3>Right Aligned Caption</h3>
                    <h5 class="light grey-text text-lighten-3">Germany</h5>
                </div>
            </li>
            <li>
                <img src="/images/home/4.jpg"> <!-- random image -->
                <div class="caption center-align">
                    <h3>Go on a trip with your lover</h3>
                    <h5 class="light grey-text text-lighten-3">Prague</h5>
                </div>
            </li>
        </ul>
    </div>

    <!-- Section Search-->
    <div id="Search" class="section section-search teal darken-1 white-text center scrollspy">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h3>Search Travel Area</h3>
                    <div class="input-field">
                        <input type="text" class="white grey-text autocomplete" id="autocomplete-input"
                            placeholder="France,Italy,Germany,Prague....">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section Icon Box-->
    <div class="section section-icons grey lighten-4 center">
        <div class="container">
            <div class="row">
                <div class="col s12 m4">
                    <div class="card-panel">
                        <a target="_blank" href=""><i class="material-icons large teal-text">local_hotel</i></a>
                        <h4>Hotel</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel">
                        <a target="_blank" href=""><i class="material-icons large teal-text">local_airport</i></a>
                        <h4>Fly Cheap</h4>
                        <p></p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card-panel">
                        <a target="_blank" href=""><i class="material-icons large teal-text">local_grocery_store</i></a>
                        <h4>Travel Shop</h4>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section PopularPlace-->
    <div id="popular" class="section section-popular scrollspy">
        <div class="container">
            <div class="row">
                <h4 class="center"><span class="teal-text">Popular</span> Place</h4>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/home/vatican.jpg" alt="">
                            <span class="card-title">Rome The Vatican Italy</span>
                        </div>
                        <div class="card-content">
                            Located in the city of Rome in Italy, it is a landlocked and urban country with an area
                            surrounded by barriers that serve as a border. The Vatican City includes the Vatican Hill
                            and the Vatican Plains to the north of the hill. It has an area of ​​0.44 km2 and a
                            population of about 900 people. It is a very small independent country in terms of size and
                            population.
                            <div class="googleMap">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2969.5668943348114!2d12.451748015802941!3d41.90217067188591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f6061b7149b59%3A0x724bf077cd875283!2z7ISxIOuyoOuTnOuhnCDrjIDshLHsoIQ!5e0!3m2!1sko!2skr!4v1565273715895!5m2!1sko!2skr"
                                    width="auto" height="450px" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/home/epeltab.jpg" alt="">
                            <span class="card-title">France Epeltab</span>
                        </div>
                        <div class="card-content">
                            It is a tower built in 1889 in Paris mars square. This tower, the main building in France,
                            is the tallest building in Paris with a lattice structure and is the world's largest
                            pay-per-view site for millions of visitors every year. It was named after the French
                            engineer and architect Gustave Eiffel who designed it and was built as the gateway to the
                            World Expo, the 100th anniversary of the French Revolution in 1889.
                            <div class="googleMap">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.9914406082185!2d2.292292615960231!3d48.858373608661395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2z7JeQ7Y6g7YOR!5e0!3m2!1sko!2skr!4v1565273407300!5m2!1sko!2skr"
                                    width="auto" height="450px" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="card">
                        <div class="card-image">
                            <img src="/images/home/venice.jpg" alt="">
                            <span class="card-title ">Venice</span>
                        </div>
                        <div class="card-content">
                            It is the capital city of the Veneto province in northern Italy and is the provincial
                            capital of Veneto. In the past, it was the capital of the Republic of Venezia, in the
                            English language Venice and in the German language Venedig. It is a world-class tourist
                            destination, well-known as a water city and a canal city.
                            <div class="googleMap">
                                <iframe
                                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2799.7592990091443!2d12.335723134080135!3d45.43435325193243!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x477eb1d76e418489%3A0x2d0bb9644fff61b!2z7IKw66eI66W07L2UIOq0keyepQ!5e0!3m2!1sko!2skr!4v1565273654010!5m2!1sko!2skr"
                                    width="auto" height="450px" frameborder="0" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Section Follow-->
    <div class="section section-follow teal white-text center">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h4>Follow Travelville</h4>
                    <p>Follow us on social media for special offers</p>
                    <a href="#" class="white-text">
                        <i class="fa fa-facebook fa-4x"></i>
                    </a>
                    <a href="#" class="white-text">
                        <i class="fa fa-twitter fa-4x"></i>
                    </a>
                    <a href="#" class="white-text">
                        <i class="fa fa-instagram fa-4x"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Section Gallery-->
    <div id="gallery" class="section-gallery scrollspy">
        <div class="container">
            <h4 class="center">
                <span class="teal-text">Photo</span>Gallery
            </h4>
            <div class="row">
                <div class="col s12 m3">
                    <img src="/images/gallery/11.jpg" alt="" class="materialboxed responsive-img">
                </div>
                <div class="col s12 m3">
                    <img src="/images/gallery/12.jpg" alt="" class="materialboxed responsive-img">
                </div>
                <div class="col s12 m3">
                    <img src="/images/gallery/13.jpg" alt="" class="materialboxed responsive-img">
                </div>
                <div class="col s12 m3">
                    <img src="/images/gallery/14.jpg" alt="" class="materialboxed responsive-img">
                </div>
            </div>
            <div class="row">
                <div class="col s12 m3">
                    <img src="/images/gallery/15.jpg" alt="" class="materialboxed responsive-img">
                </div>
                <div class="col s12 m3">
                    <img src="/images/gallery/16.jpg" alt="" class="materialboxed responsive-img">
                </div>
                <div class="col s12 m3">
                    <img src="/images/gallery/17.jpg" alt="" class="materialboxed responsive-img">
                </div>
                <div class="col s12 m3">
                    <img src="/images/gallery/18.jpg" alt="" class="materialboxed responsive-img">
                </div>
            </div>
        </div>
    </div>

    <!-- Section Footer-->
    <div class="page-footer teal white-text">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Choi Sang Min WebPage</h5>
                    <p class="grey-text text-lighten-4">OOGIS Laboratory, Digital Information Center, Kunsan National
                        University
                    </p>
                    <p class="grey-text text-lighten-4">010-7721-8830</p>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container center">
                Real Time<br>
                <span id="clock"></span>
            </div>
        </div>
    </div>

    <!--My HomePage Javascript-->
    <script>
        //Slicer
        var slider = document.querySelector('.slider');
        M.Slider.init(slider, {
            indicators: false,
            height: 500,
            transition: 500,
            interval: 2000
        });

        //Autocomplete
        var ac = document.querySelector('.autocomplete');
        M.Autocomplete.init(ac, {
            data: {
                "France": null,
                "Italy": null,
                "Germany": null,
                "Prague": null,
                "Netherlands":  null,
                "Spain": null,
                "Portugal": null,
                "Denmark": null,
                "Swiss": null,
                "Korean": null,
            }
        });

        //Materialboxed onnclick
        var mb = document.querySelectorAll('.materialboxed');
        M.Materialbox.init(mb, {});


        //Realtime
        function printTime() {
            var clock = document.getElementById("clock");
            var now = new Date();
            var nowTime = now.getFullYear() + "-" + (now.getMonth() + 1) + "-" + now.getDate() + "       (" + now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds() + ")";
            clock.innerHTML = nowTime;
            setTimeout("printTime()", 1000);
        }
        window.onload = function () { // 페이지가 로딩되면 실행
            printTime();
        }
    </script>
</body>

</html>