<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="/style/login.css">
</head>
<body>
    <div class="box">
        <h2>Login</h2>
        <form>
            <div class="inputBox">
                <input type="text" id="username">
                <label>Username</label>
            </div>
            <div class="inputBox">
                <input type="password" id="userpassword">
                <label>Password</label>
            </div>
            <div class="loginSign">
                <button type="button" onclick="getInfo()" id="loginButton">Login</button>
            </div>
        </form>
    </div>
    <script>
        var objPeople = [
            {
                username: "sangmin",
                userpassword: "1501113"
            }
        ]

        function getInfo() {
            var username = document.getElementById("username").value
            var userpassword = document.getElementById("userpassword").value

            for (var i = 0; i < objPeople.length; i++) {
                if (username == objPeople[i].username && userpassword == objPeople[i].userpassword) {
                    alert(username + " is logged in!!!")
                }
            }
            console.log("incorrect username or password")
        }
    </script>
</body>
</html>